.bold {
	font-weight: bold;
}

.white {
	color: white;
}

.italic {
	font-style: italic;
}

.lavender {
	color: #E6E6FA;
}

.black {
	color: black;
}

.best-foods > h3 {
	color: #696969; 
	font-weight: 200;
}

.monserrat {
	font-family: 'Montserrat', sans-serif;
}

.merriweather {
	font-family: 'Merriweather', serif;
}

.open-sans {
	font-family: 'Open Sans', sans-serif;
}