* {
	box-sizing: border-box;
}
html {
	height: 100%;
}
body {
	margin: 0; width: 100%; height: 100%;
}
a {
	text-decoration: none!important;
	color: #5881a7;
	font-family: 'IBM Plex Serif', serif;
}
a:not(#about){
	margin-left: 10px;
}
p {
	font-family: 'IBM Plex Serif', serif;
}
.section {
	margin: 0 auto; 
	padding-top: 100px; 
	padding-bottom: 100px;
}
.subsection {
	max-width: 1200px; 
	text-align: center; 
	margin: 0 auto; 
}
.center_text {
	text-align: center;
}
.full_view {
	width: 100%;
	height: 100%;
}
.section_header {
	font-size: 32px; 
	font-family: 'IBM Plex Serif', serif; 
	text-align: center; 
	margin-bottom: 10px;
}
div > hr {
	width: 320px; 
	color: #5881a7; 
	margin: 0 auto;
}
.brown {
	color: #c49548;
}
.portfolio_div {
	width: 33%; 
	min-width: 350px;
}
.portfolio_img {
	border-radius: 75%; 
	width: 200px; 
	height: 200px;
}
.grey_background {
	background-color: #e5dfd7;
}
#landing {
	display: flex; 
	flex-direction: column; 
	align-items: center; 
	justify-content: center;  
	width: 100%; 
	height: 100%;
	background: #141E30;
	background: -webkit-linear-gradient(to right, #243B55, #141E30); 
	background: linear-gradient(to right, #243B55, #141E30);
}
